.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -5;
}

.centerArea{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width: 27vw;
    margin-top: 20px;
}

.subheading{
    width: 80vw;
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    line-height: 125%;
}

.koulen{
    font-family: 'Koulen';
}

.white{
    color: white;
}

.startButton{
    width: 15vw;
    background-color: #00000000;
    height: 90px;
    font-size: 35px;
    border: 3px solid white;
    margin-top: 40px;
}

.startButton:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.corouselButtons{
    height: 50px;
    opacity: 0.8;
}

.corouselButtons:hover{
    cursor: pointer;
}

.carouselArea{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.carBox{
    position: relative;
    width: 100vw;
}

.courselImage{
    width: 70vw;
    height: 80vh;
    object-fit: cover;
    opacity: 0.6;
    position: absolute;
}

.carFront{
    height: 80vh;
}

.search2{
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.mm{
    width: 100vw;
    opacity: 0.3;
    object-fit: cover;
}

.mainPageT{
    height: 60vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    opacity: 0.8;
}

.mainPageT button{
    padding: 16px 20px;
    
    background: linear-gradient(45deg, rgb(59, 137, 52) 50%, rgba(255, 255, 255, 0) 50%);
    border: 1px solid white;
    color: white;
    font-weight: 700;
    font-size: 24px;
    border-radius: 8px;
    margin-top: 20px;
    background-size: 250% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}

.mainPageT button:hover{
    cursor: pointer;
    background-color: green;
    border: 1px solid green;
    background-position: left bottom;
}

.frameDiv {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.frame {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.frameGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000, #131416a5);
    pointer-events: none; 
}

.frameGradient2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black 0%, transparent 25%);
    pointer-events: none; 
}

.frameGradient3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, black 0%, transparent 25%);
    pointer-events: none; 
}

.frameWrite{
    position: absolute;
    top: 0;
    left: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    font-size: 27px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(188, 188, 188);
}

.recsSeeMore2 {
    margin-top: 50px;
    border: 3px solid white;
    opacity: 0.8;
    color: white;
    height: 60px;
    width: 200px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 22px;
    background: linear-gradient(45deg, rgb(49, 165, 25) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
}

.recsSeeMore2:hover {
    background-position: left bottom;
    cursor: pointer;
    border: 1px solid rgb(49, 165, 25);
    opacity: 1;
}

.frameTitle{
    font-size: 70px;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 50px;
    color: white;
}

.featuresArea{
    width: 100vw;
    min-height: 100vh;
    width: 90vw;
    padding: 100px 0 0 0;
    /* border: 1px solid gray; */
}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 27px;
    font-weight: 600;
    line-height: 40px;
    color: rgb(188, 188, 188);
    margin-bottom: 200px;
}

.featureImg{
    width: 36vw;
    opacity: 0.99;
}

.featureDesc{
    text-align: center;
}

.footer{
    background-color: #171717;
    /* height: 30vh; */
    width: 100vw;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer50{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{
    width: 10vw;
}

.footerLink{
    /* text-align: center; */
    font-size: 24px;
}

.footerLinkL{
   text-align: right;
   font-size: 24px; 
}


.footerLinks{
    margin: 10px 0;
    color: rgb(177, 177, 177);
}

.footerLinks:hover{
    cursor: pointer;
    color: white;
}


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  max-height: 50px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(farthest-side,#ffffff 90%,#0000);
  background: 
    var(--_g) 0    50%,
    var(--_g) 50%  50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: 25% 50%;
  animation: l12 1s infinite linear;
}
@keyframes l12 {
    33%  {background-position:0   0  ,50% 100%,50%  100%,100% 0}
    66%  {background-position:50% 0  ,0   100%,100% 100%,50%  0}
    100% {background-position:50% 50%,0   50% ,100% 50% ,50%  50%}
}

  .mt{
    margin-top: 120px;
  }

  .screenBlack{
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    display: flex;
    justify-content: center;
  }