.mainListArea{
    display: flex;
    align-items: start;
    justify-content: center;
    /* height: ; */
    min-height: 100vh;
    width: 100vw;
    background-color: #151515;
    padding: 5vw;
}

.mainList{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 55vw;
    margin-top: 1vw;
    /* background-color: black; */
}

.mainListTitle{
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.editList{
    width: 1.7vw;
    margin-left: 25px;
    /* opacity: 0.9; */
}

.delList{
    height: 1.87vw;
    margin-top: 2px;
    margin-left: 20px;
    opacity: 0.75;
}

.mainListTitle img:hover{
    cursor: pointer;
}

.mainListDetails{
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    /* color: rgb(229, 229, 229); */
    margin-bottom: 1vw;
    color: rgb(187, 187, 187);
}

.mainListDetails:hover{
    cursor: pointer;
    color: white;
}

.mainListDetails img{
    height: 30px;
    width: 30px;
    margin: 0 6px;
    border-radius: 50px;
    border: 1px solid rgb(90, 90, 90);
}

.mainListGray{
    font-size: 1.1vw;
    color: rgb(187, 187, 187);
    font-weight: 500;
    margin-right: 6px;
}

.mainListLine{
    width: 100%;
    height: 2px;
    color: rgb(90, 90, 90);
    align-items: center;
    margin: 2vw 1px 1vw 1px;
}

.mainListLine2{
    width: 100%;
    height: 2px;
    color: rgb(90, 90, 90);
    align-items: center;
    margin: 1vw 1px 1vw 1px;
}

.centerList{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    margin-top: 20px;
}

.container:hover .movieDelete {
    opacity: 0.9;
}

.extraListBlock{
    width: 100%;
    height: 100%;
    background-color: rgb(57, 57, 57);
    border-radius: 4px;
    border: 0.5px solid rgb(79, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 14vw;
}

.extraListBlock:hover{
    cursor: pointer;
}

.extraListBlock:hover img{
    opacity: 1;
    cursor: pointer;
}

.extraListBlock img{
    width: 40%;
    opacity: 0.7;
}

.mainListTitleEdit,.mainListGrayEdit{
    display: flex;
    flex-direction: column;
    font-size: 1.1vw;
    color: rgb(187, 187, 187);
    font-weight: 500;
}

.mainListTitleEdit input{
    width: 100%;
    height: 3vw;
    font-size:1.35vw;
    padding: 1vw;
    margin: 5px 0 20px 0;
}

.mainListTitleEdit input:focus{
    outline: none;
}

.mainListGrayEdit textarea{
    width: 55vw;
    max-width: 55vw;
    min-width: 55vw;
    height: 130px;
    font-size: 1.2vw;
    padding: 15px;
    margin-top: 5px;
    /* font-family: 'Montserrat'; */
}

.mainListGrayEdit textarea:focus{
    outline: none;
}

.saveListButtonArea{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.saveListButton{
    padding: 0.85vw;
    background-color: rgb(22, 168, 6);
    color: white;
    font-size: 1.1vw;
    font-weight: 500;
    border-radius: 4px;
}

.saveListButton:hover{
    cursor: pointer;
}

.rankBox{
    background-color: rgba(230, 230, 230, 0.875);
    border: 2px solid black;
    border-top: none;
    position: absolute;
    width: 27%;
    top: 0;
    left: 5%;
    height: 22%;
    border-bottom-right-radius: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}