.userPage {
    min-height: 100vh;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --font-user: #aaaaaa
}

.MainUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.userNav {
    width: 30%;
    background-color: rgb(0, 0, 0);
    /* box-shadow: 15px 15px 10px 14px rgba(227, 5, 5, 0.982); */
    /* border-right: 2px solid white; */
    z-index: 10;

}

#outer {
    overflow: hidden;
    position: relative;
}

#outer img,
#outer {
    width: 60vw;
}

#inner {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.241) 0%, rgba(0, 0, 0, 0.835) 53%, #000000 80%);
    bottom: 0;
    height: 120%;
    position: absolute;
    width: 100%;
}

.userProfilePic {
    z-index: 4;
    margin-top: -150px;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.userProfilePic img {
    height: 220px;
    border-radius: 200px;
}

.userProfileName h1 {
    font-size: 45px;
    font-weight: 500;
}

.userProfileName h3 {
    font-size: 25px;
    font-weight: 400;
    color: var(--font-user);
}

.userFavFilms {
    width: 70%;
    margin-top: 40px;
}

.userFavFilms h5 {
    color: var(--font-user);
    font-size: 20px;
    font-weight: 400;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--font-user);
    margin: 8px 0px;
    padding: 0;
}

.fourFavs {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.imgArea {
    position: relative;
}

.imgArea img {
    border-radius: 4px;
    position: absolute;
    opacity: 0.9;
}

.userImgGradient {
    position: relative;
    background-color: #1d1d1db7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.userImgGradient,
.imgArea img {
    height: 390px;
    width: 270px;
}

.userImgGradient:hover {
    opacity: 1;
    cursor: pointer;
}

.userNav {
    box-shadow: none;
    position: fixed;
    width: 25%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: linear-gradient(to right, #000 0%, #525252 100%); */

    background-image: linear-gradient(to right, #2B4162 0%, #12100E 100%);
    display: none;


}

.tile {
    width: 80%;
    height: 95px;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin: 25px 0;
    background-color: white;
    box-shadow: 5px 10px 10px 10px rgba(224, 224, 224, 0.0713);
    overflow: hidden;
    transition: border 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    ;
}

.selectedTile {
    width: 95%;
    height: 110px;
    background-image: linear-gradient(to top, #2B4162 0%, #607189 130%);
    /* background-image: linear-gradient(to top, #000 0%, #525252 100%); */

    border-left: none;
    color: white;
}

.tileWhite {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 95px;
    margin-right: 30px;
}

.selectedTile .tileWhite {
    width: 110px;
}

.tileWhite img {
    width: 45%;
    height: 45%;
}

.selectedTile img {
    width: 60%;
    height: 60%;
}

.tile:hover {
    cursor: pointer;
    border-right: 40px solid #92a4be;
    border-image: linear-gradient(to top, #2B4162 0%, #607189 130%) 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.selectBar {
    margin-top: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #92a4be; */
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 11;
}

.selectBarTile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--font-user);
    font-size: 23px;
    font-weight: 600;
    padding: 30px;
    border-bottom: 5px solid black;
}

.selectBarTile:hover {
    cursor: pointer;
}

.selectedBarTile {
    border-bottom: 5px solid var(--font-user);
}

.userProfileTile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.movieUser {
    width: 100%;
}

.movieUser img {
    /* width: 100%; */
    position: absolute;
}



.editProfilePage {
    background-color: #12100E;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editInputArea {
    display: flex;
    flex-direction: column;
}

.editInputArea input {
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
}

.EditArea {
    /* background-color: pink; */
    width: 45vw;
    /* background-color: #92a4be; */
    margin-top: 15vh;
}

.editProfileImg {
    width: 250px;
    position: absolute;
    border-radius: 400px;

}

.editImgArea {
    position: relative;
}

.editImgGradient {
    width: 250px;
    height: 250px;
    background-color: rgba(63, 63, 63, 0.594);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in;

}

.editImgGradient img {

    width: 100px;
}

.editImgGradient:hover {
    opacity: 1;
}

.editInputArea label {
    font-size: 19px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 5px;
    color: var(--font-user);
}

.editInputArea input {
    width: 20vw;
    height: 50px;
    background-color: #f0f0f0;
    padding-left: 15px;
    font-size: 25px;
}

.df {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#bioInput {
    height: 170px;
    vertical-align: top;
    width: 20vw;
    background-color: #f0f0f0;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: none;
    resize: none;
}

#fileInput {
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    position: absolute;
}

#fileInput:hover{
    cursor: pointer;
}

.editImgGradient label:hover {
    cursor: pointer;
}

.editFavFilmsArea {
    margin-top: 40px;
}

.fontColor {
    color: var(--font-user);
}

.editFavs {
    position: relative;
}

.editFavs img {
    border-radius: 4px;
    position: absolute;
    opacity: 0.9;
}

.editUserImgGradient {
    position: relative;
    background-color: #1d1d1ddd;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.editUserImgGradient,
.editFavs img {
    height: 290px;
    width: 200px;
}

.extraFav {
    background-color: #323232;
    border-radius: 4px;
    height: 290px;
    width: 200px;
    border: 2px solid rgb(114, 114, 114);
    display: flex;
    align-items: center;
    justify-content: center;
}

.extraFav img {
    /* width: 30%; */
    height: 23%;
}

.extraFav:hover {
    cursor: pointer;
}

.editUserImgGradient:hover {
    opacity: 1;
    cursor: pointer;
}

.saveChangesArea {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 50px 0;
}

.saveChangesArea button {
    border-radius: 4px;
    width: 200px;
    height: 55px;
    background-color: rgb(9, 156, 17);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.movieDelete {
    background-color: #5b5b5b;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -30%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;

}

.movieDelete img {
    width: 20px;
    height: 20px;
}

.movieDelete:hover {
    cursor: pointer;
}

.editFavs:hover .editUserImgGradient {
    opacity: 1;
}

.editFavs:hover .movieDelete {
    opacity: 1;
}

.addFavFilm {
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.574);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
}

.addFilmToFav {
    width: 40vw;
    height: 50vh;
    background-color: rgba(13, 13, 13, 0.85);
    border-radius: 8px;
    border: 3px solid rgba(104, 104, 104, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;

    backdrop-filter: blur(30px);
}

.addFilmToFav input {
    width: 27vw;
    height: 50px;
    outline: none;
    border: none;
    font-size: 23px;
    padding: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.searchAreaFav {
    display: flex;
}

.searchIconFav {
    width: 50px;
    height: 50px;
    background-color: white;
    border-left: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
}

.searchIconFav img {
    width: 50%;
    opacity: 0.8;
}

.searchIconFav:hover {
    cursor: pointer;
}

.FavSearchResults {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    margin: 30px;
    overflow: scroll;
    position: relative;
}

.favMovieAddResult {
    width: 100%;
    margin: 10px 0;
    background-color: gray;
    padding: 20px;
    border-radius: 4px;
}

.favMovieAddResult:hover {
    cursor: pointer;
}

.AddFavClose {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.8;
}

.AddFavClose:hover {
    cursor: pointer;
    opacity: 1;
}

.hoverCursor:hover {
    cursor: pointer;
}


.userInfoArea1{
    background-color: white;
    padding: 20px 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 23px;
    font-weight: 600;
    position: relative;
    transform: rotate(-8deg);
}

.userName1{
    padding-top: 10px;
}

.profilePicArea1 img{
    width: 260px;
    height: 260px;
    object-fit: cover;
}

.pin{
    position: absolute;
    top: 0;
    left: 0;
}

.userInfo1{
    display: flex;
    align-items: end;
    margin-top: 120px;
}

.nameAndBio1{
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: 10px 60px;
}

.name1{
    font-size: 32px;
    padding: 20px 0;
    display: flex;
}

.bio1{
    font-size: 18px;
    color: rgb(231, 231, 231);
}

.backdrop1{
    width: 100%;
    height: 100%;
    position: relative;
}

.backdrop1 img{
    width: 100vw;
    /* height: 100vh; */
    position: fixed;
    z-index: -110;
}

.userGradient1{
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.932);
    position: fixed;
    z-index: -100;
    backdrop-filter: blur(2px);
}

.userGradient14{
    width: 100vw;
    height: 100vh;
    background-color: rgba(4, 4, 4, 0.932);
    position: fixed;
    z-index: -100;
    backdrop-filter: blur(2px);
}

.favFilmsArea1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 62%;
    /* background-color: #92a4be; */
    align-items: start;
    font-size: 17px;
    font-weight: 600;
}

.favFilmsArea11{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 62%;
    /* background-color: #92a4be; */
    align-items: start;
    font-size: 17px;
    font-weight: 600;
}


.favFilmsArea2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 62%;
    /* background-color: #92a4be; */
    align-items: start;
    font-size: 17px;
    font-weight: 600;
}

.images1 {
    display: flex;
    width: 100%;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    margin-top: 15px;
}

.item1 {
    position: relative;
    overflow: hidden;
    flex-basis: auto; 
    flex-grow: 0;
    flex-shrink: 0; 
    
}

.item1 img {
    width: 100%;
    height: 100%;
    height: auto; /* Let the height adjust based on aspect ratio */
    object-fit: cover;
    transition: 0.3s;
}

.item1:hover .overlay1 {
    opacity: 1;
}

.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.76); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    font-size: 22px;
    border: 1px solid rgba(74, 74, 74, 1);
}

.overlay1:hover{
    cursor: pointer;
}

.item1 img,.overlay1{
    height: 300px;
    width: 200px;
    border-radius: 4px;
}

.editProfile {
    background-color: rgb(71, 177, 71);
    border: none;
    height: 45px;
    /* width:45px; */
    border-radius: 4px;
    margin-left: 20px;
    color: white;
    font-size: 21px;
    font-weight: 600;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editProfile img {
    height: 110%;
    border-radius: 0;
    margin-left: 10px;
}

.editProfile:hover {
    cursor: pointer;
}

.profilePicGradient1{
    width: 86%;
    height: 86%;
    z-index: 10;
    background-color: #92a4be84;
    position: absolute;
}

.pin{
    z-index: 1100;
}

.editImgGradient1{
    width: 86%;
    height: 86%;
    background-color: rgba(40, 40, 40, 0.594);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.5s ease-in;

}

.editImgGradient1 img {
    width: 100px;
}

.editImgGradient1 img:hover {
    cursor: pointer;
}

.editImgGradient1:hover {
    opacity: 1;
    cursor: pointer;
}






/* SIDE BAR */

.genreBigArea1{
    height: 100vh;
    z-index: 10;
    left: 0;
    width: 4vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: background-image 0.5s ease-in-out; 
}

.hoverBlackBG1{
    transition: background-image 0.5s ease;
    background-image: linear-gradient(to right,#000000b2 0%, #00000045 80%,#00000000 100%);
    width: 30vw;
}

.genreLogos1{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 56vh;
    justify-content: space-between;
    left: 30px;
}

.genreLogos1 img{
    width: 35px;
    opacity: 0.5;
    transition:  opacity 0.4s ease;
}

.genreBlocks1{
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 700;
    font-size: 26px;
}

.genreBlocks1 span{
    margin-left: 25px;
    opacity: 0;
    transition:  opacity 0.4s ease;
}

.genreBlocks1:hover{
    cursor: pointer;
}

.genreBlocks1:hover img{
    opacity: 1;
}

.genreBlocks1:hover  span{
    cursor: pointer;
    opacity: 1;
}

.activeGenre1 img{
    opacity: 1;
}


/* WATCHLIST */

.userWatchedTile {
    padding: 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
    border: 0.5px solid rgb(79, 79, 79);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d1d1db7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.container:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

.center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marginCenter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    color: #ffffffeb;
}

.delProfile {
    background-color: rgb(219, 53, 53);
    border: none;
    height: 45px;
    /* width:45px; */
    border-radius: 4px;
    margin-left: 20px;
    color: white;
    font-size: 21px;
    font-weight: 600;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delProfile img {
    height: 150%;
    border-radius: 0;
}

.delProfile:hover {
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
  }

.optionBoxArea{
    display: flex;
    margin-top: 20px;
}

.optionBoxSelected{
    padding: 13px;
    background-color: rgb(230, 230, 230);
    color: rgb(18, 18, 18);
    margin-right: 20px;
    border-radius: 3px;
    font-size: 16px;
}

.optionBox{
    padding: 13px;
    background-color: rgb(110, 110, 110);
    color: #dadada;
    margin-right: 20px;
    border-radius: 3px;
    font-size: 16px;
}

.optionBox:hover{
    cursor: pointer;
}

.optionBoxSelected:hover{
    cursor: pointer;
}

.deletedArea{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #262626d2;
    top: 0;
    z-index: 300;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.addFilmToFav4 {
    width: 40vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    border: 3px solid rgba(104, 104, 104, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    backdrop-filter: blur(100px);
    text-align: center;

    font-size: 23px;
    color: rgb(226, 226, 226);
}

.addFilmToFav4 input {
    width: 27vw;
    height: 50px;
    outline: none;
    border: none;
    font-size: 23px;
    padding: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.addFilmToFav4 h4{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    color: white;
}

.deleteInputArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.deleteInputArea label{
    margin-bottom: 10px;
}

.deleteInputArea input{
    width: 80%;
}

.deleteInputArea input::placeholder{
    font-size: 22px;
}

.incomingBlock{
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.553);
    border-radius: 4px;
    background-color: hsla(0, 0%, 0%, 0.15);
    /* background-color: #1f1f1f; */
    backdrop-filter: blur(8px);
}

.incomingBlockTitle{
    font-size: 20px;
    font-weight: 600;
}

.flex-end-incoming{
    padding: 25px;
    border-radius: 4px;
    background-color: #1f1f1f;
    /* border: 1px solid rgba(128, 128, 128, 0.553); */
    display: flex;
    justify-content: space-between;
}

.flex-end-incoming:hover{
    cursor: pointer;
}

.flex-end-incoming-2{
    padding: 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #1f1f1f;
    border: 1px solid rgba(128, 128, 128, 0.553);
    display: flex;
    justify-content: space-between;
    border: none;
}

.flex-end-incoming-2:hover{
    cursor: pointer;
}

.incomingCenter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 60px 0;
}

.incomingTileArea{
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 15px;
    column-gap: 10px;
}

.incomingTile{
    width: 100%;
    background-color: #272727;
    padding: 20px;
    border-radius: 2px;
    border: 0.1px solid rgba(211, 211, 211, 0.229);
    display: flex;
}

.incomingPoster{
    height: 225px;
}

.incomingDesc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    color: #ececec;
    height: 100%;
}

.incomingMovieTitle{
    font-size: 24px;
    font-size: 400;
}

.incomingFrom,.incomingMessage{
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #a3a3a3;
}

.incomingFrom{
    margin: 20px 0 0 0;
}

.incomingFrom,.incomingDesc{
    cursor: pointer;
}

.incomingFrom img{
    width: 18px;
    height: 18px;
    border-radius: 20px;
    margin: 6px;
}


.minus{
    width: 28px;
    height: 28px;
    opacity: 0.8;
}

.incomingPoster:hover{
    cursor: pointer;
}

.hoverWhite:hover{
    color: #ececec;
}

.hoverWhite2{
    margin-left: 6px;
}

.hoverWhite:hover{
    color: #ececec;
}

.peopleArea{
    /* background-color: #000000; */
    /* height: 50px; */
    margin-top: 50px;
    width: 62%;
}

.selectPeople{
    display: flex;
}

.peopleBlocksSelected{
    width: 50%;
    border-bottom: 4px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding: 25px;
}

.peopleBlocks{
    width: 50%;
    border-bottom: 4px solid rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding: 25px;
}

.peopleBlocks:hover,.peopleBlocksSelected:hover{
    cursor: pointer;
}

.userFollowing{
    display: grid;
    grid-template-columns: repeat(2,48%);
    row-gap: 30px;
    column-gap: 4%;
    margin-top: 20px;    
    /* background-color: #2B4162; */
}

.userSearchResults2{
    /* width: 10               0%; */
    display: flex;
    background-color: #2e2e2e;
    padding:40px 20px;
    border-radius: 4px;
    /* min-height: 330px; */
    overflow: hidden;
}

.userSearchResults2:hover{
    cursor: pointer;
}

.followProfileImg{
    min-width: 180px;
    max-width: 180px;
    min-height: 180px;
    max-height: 180px;

    object-fit: cover;
    border-radius: 4px;
    /* border: 10px solid rgb(222, 222, 222); */
}

.noUser{
    /* height: 100%;
    /* width: 100%; */
    display: flex;
    /* width: 50%; */
    align-items: center;
    justify-content: center;
    min-width: 180px;
    /* border: 10px solid rgb(222, 222, 222); */
    background-color: rgba(93, 93, 93, 0.687);
    border-radius: 4px; 
}

.noUser img{
    /* width: 45%; */
    height: 70%;
    width: 70%;
    border: none;
}

.followImg{
    width: 80px;
}

.centerFollowers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

.createNewList{
    background-color: #272727;
    padding: 15px;
}

.createNewList:hover{
    cursor: pointer;
}

.newListDialogBox {
    width: 40vw;
    /* height: 40vh; */
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    border: 3px solid rgba(104, 104, 104, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    backdrop-filter: blur(100px);
    text-align: center;

    font-size: 23px;
    color: rgb(226, 226, 226);
}

.newListDialogBox input {
    width: 16vw;
    height: 43px;
    outline: none;
    border: none;
    font-size: 23px;
    padding: 15px;
}

.newListDialogBox textarea {
    min-width: 16vw;
    max-width: 16vw;
    min-height: 43px;
    outline: none;
    border: none;
    font-size: 23px;
    padding: 20px;
}

.listInput{
    margin-bottom: 30px;
} 

.listInput label{
    margin-right: 15px;
}

.listInput input{
    border-radius: 0;
}

.listInput select{
    width: 16vw;
    height: 43px;
    font-size: 23px;
    padding-left: 13px;
}

.listInput select:focus{
    outline: none;
}

.newListDialogBox h4{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 50px;
}

.centerIt{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.topIt{
    display: flex;
    align-items: start;
}

.topIt label{
    margin-top: 3px;
}

.opBox{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* width: 100%; */
}

.optionBoxArea2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.opBox2{
    padding: 13px;
    background-color: rgb(230, 230, 230);
    color: rgb(18, 18, 18);
    margin-right: 0px;
    border-radius: 3px;
    font-size: 16px;
}

.opBox2:hover{
    cursor: pointer;
}

.displayListArea{
    margin-top: 50px;
    width: 100%;
}

.listDisplay{
    width: 100%;
    padding: 17px ;
    background-color: #272727;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border: 1px solid hsla(0, 0%, 36%, 0.486);
    border-radius: 4px;
}

.listDisplay:hover{
    cursor: pointer;
}

.imgDisplayArea{
    display: flex;
}

.imgDisplayArea img{
    width: 140px;
    border-radius: 4px;
    border: 2px solid rgb(29, 29, 29);
    border: 2px solid hsla(0, 0%, 23%, 0.486);
}

.mlMinus{
    margin-left: -70px;
}

.z3{
    z-index: 3;
    position: relative;
}

.z2{
    z-index: 2;
    position: relative;
}

.z1{
    z-index: 1;
    position: relative;
}

.displayListTitle{
    font-size: 24px;
    margin-left: 20px;
}

.displayListDesc{

    font-size: 24px;
    margin-left: 20px;
}

.extraListItem2{
    background-color: #1f1f1f;
    width: 140px;
    min-height: 210px;
    font-size: 120px;
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dc{
    font-size: 18px;
    color: gray;
    max-height: 85px;
    overflow: scroll;
    margin-top: 10px;
}

.followButton{
    padding: 8px 15px;
    font-size: 20px;
    margin-left: 30px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.followButton:hover{
    cursor: pointer;
    border: 2px solid rgb(109, 183, 109);
    color: rgb(109, 183, 109);
}

.following{
    padding: 8px 0;
    margin-left: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.following img{
    margin-left: 15px;
    height: 20px;
}

.following:hover{
    cursor: pointer;
}

.followArea1{
    font-weight: 500;
}

.favFilmsArea3{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    width: 62%;
    /* background-color: #92a4be; */
    align-items: start;
    font-size: 17px;
    font-weight: 600;
}

.statArea{
    background-color: #272727;
    padding: 20px 30px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    border: 1px solid rgb(72, 72, 72);
}

.statTitle{
    margin-left: 10px;
}

.displayStats{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
}

.stat{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    color: rgb(157, 157, 157);
}

.statNumber{
    font-size: 40px;
    font-weight: 600;
    color: rgb(213, 213, 213);
}

.statLine{
    height: 100%;
    width: 2px;
    /* background-color: rgb(226, 226, 226); */
}

.verticalStat{
    height: 50px;
    width: 2px;
    background-color: #12100E;
}