.userPage {
    background-color: #000000;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
}

:root {
    --font-user: #aaaaaa
}

.MainUser {
    display: flex;
}

.userNav {
    width: 30%;
    background-color: rgb(0, 0, 0);
    /* box-shadow: 15px 15px 10px 14px rgba(227, 5, 5, 0.982); */
    /* border-right: 2px solid white; */
    z-index: 10;

}

#outer {
    overflow: hidden;
    position: relative;
}

#outer img,
#outer {
    width: 60vw;
}

#inner {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.241) 0%, rgba(0, 0, 0, 0.835) 53%, #000000 80%);
    bottom: 0;
    height: 120%;
    position: absolute;
    width: 100%;
}

.userProfilePic {
    z-index: 4;
    margin-top: -150px;
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.userProfilePic img {
    height: 220px;
    border-radius: 200px;
}

.userProfileName h1 {
    font-size: 45px;
    font-weight: 500;
}

.userProfileName h3 {
    font-size: 25px;
    font-weight: 400;
    color: var(--font-user);
}

.userFavFilms {
    width: 70%;
    margin-top: 40px;
}

.userFavFilms h5 {
    color: var(--font-user);
    font-size: 20px;
    font-weight: 400;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--font-user);
    margin: 8px 0px;
    padding: 0;
}

.fourFavs {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.imgArea {
    position: relative;
}

.imgArea img {
    border-radius: 4px;
    position: absolute;
    opacity: 0.9;
}

.userImgGradient {
    position: relative;
    background-color: #1d1d1db7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.userImgGradient,
.imgArea img {
    height: 390px;
    width: 270px;
}

.userImgGradient:hover {
    opacity: 1;
    cursor: pointer;
}

.userNav {
    box-shadow: none;
    position: fixed;
    width: 25%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: linear-gradient(to right, #000 0%, #525252 100%); */

    background-image: linear-gradient(to right, #2B4162 0%, #12100E 100%);
    display: none;


}

.tile {
    width: 80%;
    height: 95px;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin: 25px 0;
    background-color: white;
    box-shadow: 5px 10px 10px 10px rgba(224, 224, 224, 0.0713);
    overflow: hidden;
    transition: border 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    ;
}

.selectedTile {
    width: 95%;
    height: 110px;
    background-image: linear-gradient(to top, #2B4162 0%, #607189 130%);
    /* background-image: linear-gradient(to top, #000 0%, #525252 100%); */

    border-left: none;
    color: white;
}

.tileWhite {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 95px;
    margin-right: 30px;
}

.selectedTile .tileWhite {
    width: 110px;
}

.tileWhite img {
    width: 45%;
    height: 45%;
}

.selectedTile img {
    width: 60%;
    height: 60%;
}

.tile:hover {
    cursor: pointer;
    border-right: 40px solid #92a4be;
    border-image: linear-gradient(to top, #2B4162 0%, #607189 130%) 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.selectBar {
    margin-top: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #92a4be; */
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 11;
}

.selectBarTile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--font-user);
    font-size: 23px;
    font-weight: 600;
    padding: 30px;
    border-bottom: 5px solid black;
}

.selectBarTile:hover {
    cursor: pointer;
}

.selectedBarTile {
    border-bottom: 5px solid var(--font-user);
}

.userProfileTile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.userWatchedTile {
    /* background-color: azure; */
    padding: 30px 0;
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.movieUser {
    width: 100%;
}

.movieUser img {
    /* width: 100%; */
    position: absolute;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d1d1db7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.container:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

.editProfile{
    background-color: rgb(50, 151, 50);
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 8px;
}

.editProfile img{
    /* padding: 40px; */
    height: 50%;
    width: 50%;
    border-radius: 0;
}

.editProfile:hover{
    cursor: pointer;
}

.editProfilePage{
    background-color: #12100E;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editInputArea{
    display: flex;
    flex-direction: column;
}

.editInputArea input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
}

.EditArea{
    /* background-color: pink; */
    width: 45vw;
    /* background-color: #92a4be; */

}

.editProfileImg{
    width: 250px;
    position: absolute;

}

.editImgArea{
    position: relative;
}

.editImgGradient{
    width: 250px;
    height: 250px;
    background-color: rgba(63, 63, 63, 0.594);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in;

}

.editImgGradient img{

    width: 100px;
}

.editImgGradient:hover{
    opacity: 1;
}

.editInputArea label{
    font-size: 19px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 5px;
    color: var(--font-user);
}

.editInputArea input{
    width: 20vw;
    height: 50px;
    background-color: #f0f0f0;
    padding-left: 15px;
    font-size: 25px;
}

.df{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#bioInput{
    height: 170px;
    vertical-align: top;
    width: 20vw;
    background-color: #f0f0f0;
    padding: 15px;
    font-size: 20px;
    border: none;
    outline: none;
    resize: none;
}

#fileInput{
    display: none;

}

.editImgGradient label:hover{
    cursor: pointer;
}

.editFavFilmsArea{
    margin-top: 40px;
}

.fontColor{
    color: var(--font-user);
}

.editFavs {
    position: relative;
}

.editFavs img {
    border-radius: 4px;
    position: absolute;
    opacity: 0.9;
}

.editUserImgGradient {
    position: relative;
    background-color: #1d1d1ddd;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.editUserImgGradient,
.editFavs img {
    height: 290px;
    width: 200px;
}

.editUserImgGradient:hover {
    opacity: 1;
    cursor: pointer;
}

.saveChangesArea{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 50px 0;
}

.saveChangesArea button{
    border-radius: 4px;
    width: 200px;
    height: 55px;
    background-color: rgb(9, 156, 17);
    border: none;
    color: white;
    font-weight: 500;
    font-size:20px;
}

.movieDelete{
    background-color: #5b5b5b;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%,-30%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;

}

.movieDelete img{
    width: 20px;
    height: 20px;
}

.movieDelete:hover{
    cursor: pointer;
}

.editFavs:hover .editUserImgGradient {
    opacity: 1;
}

.editFavs:hover .movieDelete {
    opacity: 1;
}