.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.gradient {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
}

.black {
    background-color: #141414;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.poster {
    width: 400px;
    border-radius: 4px;
}

.descArea {
    width: 50vw;
    display: flex;
    align-items: end;
    flex-direction: row;
    margin-top: 20vh;

}

.movieInfo {
    width: 100%;
    padding: 0px 20px;
}

.title {
    font-size: 40px;
    font-weight: 600;
}

.general span {
    font-size: 22px;
}

.overview {
    font-size: 22px;
}

.title,
.general span,
.overview {
    padding: 22px 18px;
}

.addToWatchlist {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #EF4234;
    border: none;
    border-radius: 6px;
    margin: 0px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    cursor: pointer;
}

.movieButtonsArea {
    display: flex;
}

.watchlist {
    width: 35px;
    height: 35px;
}

.centerMovie {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 0px;
}

.profileArea {
    display: flex;
    max-width: 100%;
    overflow: scroll;
    align-items: center;
    margin-bottom: 50px;

}

.profile {
    min-width: 240px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #272727;
    border-radius: 8px;
    /* border: 1px solid rgb(121, 121, 121); */
    /* box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); */
    transition: background-color 0.5s;
    min-height: 430px;
}

.profile:hover,
.rec:hover {
    /* background-color: #757575; */
    cursor: pointer;
}

.profile img {
    width: 95%;
    margin: 2%;
    border-radius: 8px;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.profile h2 {
    width: 90%;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 0px 5px 0px;
    margin: 5px;
}

.profile h3 {
    width: 80%;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    color: #b5b5b5;
    margin: 5px;
    margin-bottom: 5%;
}

.cast {
    font-size: 30px;
    font-weight: 600;
    /* margin-bottom: 5px; */
    /* border-bottom: 4px solid #858585; */
    padding: 10px;
    padding-bottom: 20px;
}

.next {
    width: 40px;
}

.cast img {
    width: 40px;
    margin-left: 10px;
}

.nextButton {
    background-color: #EF4234;
    border: none;
    height: auto;
    margin-top: -40px;
    cursor: pointer;
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 7px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #484848;
    height: 50px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
}

.more {
    font-size: 21px;
    font-weight: 600;
    width: 200px;
    /* background-color: #757575; */
    min-width: 200px;
    /* height: 90%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}

.more:hover {
    text-decoration: underline;
    cursor: pointer;
}

.moreArrow {
    width: 30px;
    margin: 5px;
}

.rec {
    min-width: 430px;
    margin: 20px;

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #272727;
    border-radius: 8px;
    /* border: 1px solid rgb(121, 121, 121); */
    /* box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); */
    transition: background-color 0.5s;
    position: relative;
    min-height: 360px;
}

.recBackdrop {
    height: 252px;
    width: 92%;
    position: absolute;
    top: 15px;
    z-index: 1;
    border-radius: 8px;
}

.partialGrad {
    height: 252px;
    background-color: #312e2e83;
    z-index: 2;
    width: 100%;
    position: relative;
    top: 0;
}

.recDesc {
    width: 85%;
    margin-top: -200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.recPoster {
    width: 45%;
}

.recTitle {
    width: 55%;
    text-align: start;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 800;
}

.recT {
    font-size: 25px;
    text-align: center;
    padding: 20px 0 5px 0;
    font-weight: 500;
    width: 90%;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.generalInfo {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.watch {

    width: 45%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.watchArea {
    width: 100%;
    background-color: #272727;
    padding: 30px;
    border-radius: 8px;
}

.stream {
    margin: 30px 0 10px 30px;
}

.watchProviders {
    display: flex;
}

.watchProviders img {
    margin: 20px 20px 0px 0px;
    width: 70px;
    border-radius: 17px;
    opacity: 0.8;
}

.watchProviders img:hover {
    opacity: 1;
    cursor: pointer;
}

.movieDetails {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.movieDetailField,
.movieDetailKey,.genreField {
    color: rgb(234, 234, 234);
    font-size: 21.5px;
}

.movieDetailField{
}

.movieDetailField:hover{
    cursor: pointer;
}

.movieDetailKey {
    color: #b6b6b6;
    margin-right: 10px;
}

.movieDetailField {
    font-weight: 600;
}

.flex {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 10px;
}

.genreKey {
    margin-left: 10px;
}

.genreField {
    /* display: flex; */
    font-weight: 600;
    /* font-size: 23px; */
    /* flex-direction: column; */
}

.reviewArea {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.reviewGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    row-gap: 50px;
}

.reviewTop {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.reviewTop img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 15px;
}

.review {
    padding: 28px;
    background-color: #272727;
    border-radius: 8px;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
}

.reviewRating {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(254, 209, 94);
    font-weight: 700;
}

.reviewContent {
    font-size: 19px;
    color: rgb(182, 182, 182);
    line-height: 27px;
}

.seeAll {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seeAll:hover {
    cursor: pointer;
}

.seeAll h3 {
    text-align: center;
}

.seeAll img {
    width: 50px;
    transform: rotate(90deg);
}

.seeLess img {
    transform: rotate(-90deg);
    margin-bottom: 10px;
}

.castPage {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.flex-end {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.flex-end img {
    margin-left: 30px;
    height: 350px;
    border-radius: 4px;
}

.flex-end div {
    width: 800px;
}

.recsPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; /* Optional: adds a gap between grid items */
    width: 80vw; /* Grid container is 80% of the viewport's width */
    margin: 0 auto;
}

.recsPageCenterMovie {
    width: 88vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 50px 0px;
}

.alert {
    width: 50vw;
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 30px;
    transition: opacity 0.5s;
    z-index: 10000;
}

.show {
    transition: opacity 0.5s;
    opacity: 0.9;
}

.alertArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 20px;
}

.noPhoto{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noPhoto img{
    width: 70%;
}

.movieCastBackdrop{
    width: 100vw;
    /* left: -50vw; */
    position: fixed;
    top: 0;
}

.castBackArea{
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

.castGradient{
    position: fixed;
    background-color: #292929e6;
    height: 100vh;
    width: 100vw;
    top: 0;
}

.castCenterMovie{
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-left: 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 100px;
}

.recsCenterMovie{
    width: 80vw;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-left: 6.5vw;
    margin-top: 100px;
}

.photoNA{
    background-color: #EF4234;
    height: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
}

.photoNA img{
    width: 50%;
}

.noPhotoProfile {
    min-width: 240px;
    margin: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    background-color: #272727;
    border-radius: 8px;
    transition: background-color 0.5s;
    min-height: 430px;
}



.noPhotoProfile img{
    width: 70%;
}

.noPhotoProfile h2 {
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 0px 5px 0px;
    margin: 5px;
}

.noPhotoProfile h3 {
    text-align: center;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    color: #b5b5b5;
    margin: 5px;
    margin-bottom: 5%;
}

.noPhotoArea{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
}

.noPhotoText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RecommendMovie{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: #2727279a;
    top: 0;
    z-index: 10000000;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockArea{
    display: flex;
    margin-bottom: 30px;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.block{
    background-color: white;
    color: black;
    padding: 10px;
    width: 100%;
    /* border: 4px solid red; */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 101%; */
    border-radius: 4px;
    z-index: 300;
}

.blockNS{
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    /* border: 4px solid red; */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94%;
    border-radius: 4px;
    background-color: #14141400;
    border: 1px solid rgb(153, 153, 153);
    margin-left: -6px;
}

.blockNS1{
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94%;
    border-radius: 4px;
    background-color: #14141400;
    border: 1px solid rgb(153, 153, 153);
    margin-right: -6px;
}

.blockArea:hover{
    cursor: pointer;
}

.addFilmToFav2 {
    width: 40vw;
    height: 55vh;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    border: 3px solid rgba(104, 104, 104, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;

    backdrop-filter: blur(100px);
}

.addFilmToFav2 input {
    width: 27vw;
    height: 50px;
    outline: none;
    border: none;
    font-size: 23px;
    padding: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.addFilmToFav3 {
    width: 40vw;
    max-height: 55vh;
    background-color: rgba(13, 13, 13, 0.85);
    border-radius: 8px;
    border: 3px solid rgba(104, 104, 104, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;

    backdrop-filter: blur(30px);
}

.addFilmToFav3 input {
    width: 27vw;
    height: 50px;
    outline: none;
    border: none;
    font-size: 23px;
    padding: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.showPublic{
    /* margin: 40px; */
    position: relative;
    font-size: 22px;
    text-align: center;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    color: rgb(210, 210, 210);
}

.publicButtons{
    display: flex;
    margin-top: 25px;
    color: white;
}

.publicButton{
    padding: 5px 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    color: black;
    background-color: rgb(210, 210, 210);
    border-radius: 2px;
    transition: background-color 0.3s ease;
    /* transition: color 0.3s ease; */
}

.pbNo{
        margin: 20px;
}

.pbYes{
    margin: 20px;
}

.pbNo:hover{
    cursor: pointer;
    background-color: rgb(253, 87, 87);
    color: white;
}

.pbYes:hover{
    cursor: pointer;
    background-color: rgb(33, 157, 33);
    color: white;
}

.centerMid{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendMessage{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
}


.sendMessage textarea{
    margin-top: 30px;
    width: 27vw;
    /* height: 50px; */
    outline: none;
    border: none;
    font-size: 23px;
    padding: 20px;
    /* min-height: 63px; */
}
