.bgBlack{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.search{
    background-color: #131416;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.search input{
    width: 40vw;
    height: 2vw;
    padding: 4px;
    font-size: 1.3vw;
    border: none;
    border-radius: 8px;
}

.search input:focus{
    border: none;
    outline: none;
}

.result{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.searchResults{
    width: 60vw;
    display: flex;
    background-color: #2e2e2e;
    padding: 2vw;
    border-radius: 8px;
    overflow: hidden;
}

.searchResults img{
    height: 16.5vw;
    width: 11vw;
    border-radius: 4px;
}

.searchRow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.3vw;
}

.searchTitle{
    font-size: 1.8vw;
    font-weight: 500;
    padding: 1vw 0; 
    max-width: 80%;
    /* background-color: peru; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchYear{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1.8vw;
    font-weight: 500;
}

.searchYear span{
    padding-left: 0.7vw;
}

.searchDesc{
    font-size: 1.15vw;
    max-height: 12vw;
    overflow: scroll;
    color: #f1f1f1ca;
}

.searchArea{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 30px;
    margin-top: 5.5vw;
}

.searchIcon{
    border-left: 2px solid #131416;
    background-color: rgb(255, 255, 255);
    height: 3.1vw;
    width: 3.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.searchIcon img{
    padding: 5px;
    width: 1.8vw;
}

.searchIcon:hover{
    cursor: pointer;
}

.movieButtonsArea{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 43vw;
    margin-top: 1.5vw;
}

.MovieButton{
    padding: 0.7vw;
    border-radius: 4px;
    margin-right: 1.6vw;
    font-size: 1.1vw;
    background-color: #404040;
    border: none;
    color: white;
    font-weight: 300;
}

.selectedMovieButton{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0.7vw;
    border-radius: 4px;
    margin-right: 1.6vw;
    font-size: 1.1vw;
    border: none;
    font-weight: 500;
}

.movieButtonsArea button:hover{
    cursor: pointer;
}

.castKnownFor{
    font-size: 1.15vw;
}

.castKnownFor span{
    color: #d2d2d2;
}

.castSearchResults{
    width: 30vw;
    display: flex;
    background-color: #2e2e2e;
    padding: 1.7vw;
    overflow: hidden;
    border-radius: 8px;
    /* min-height: 10vh; */
}

.castResult{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.castSearchResults img{
    height: 13.5vw;
    width: 9vw;
    border-radius: 4px;
}

.castSearchResults:hover,.searchResults:hover{
    cursor: pointer;
}

.searchTitleCast{
    font-size: 1.6vw;
    font-weight: 500;
    padding: 0.9vw 0; 
    /* width: 330px; */
    max-width: 100%;
    padding-right: 10px;
    /* background-color: peru; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.castNotFound{
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9vw;
    background-color: rgba(93, 93, 93, 0.687);
    border-radius: 4px;
}

.castNotFound img{
    width: 4.5vw;
    height: 4.5vw;
}

.userResult{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 30px;
    column-gap: 30px;
    row-gap: 30px;
}


.userSearchResults{
    width: 30vw;
    display: flex;
    background-color: #2e2e2e;
    padding: 2vw 1vw;
    border-radius: 6px;
}

.castResult{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.showProfilePicImg{
    margin-left: 2vw;
    width: 9vw;
    height: 9vw;
    object-fit: cover;
    border-radius: 4px;
    /* border: 10px solid rgb(222, 222, 222); */
}

.centerMid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.userSearchResults:hover,.searchResults:hover{
    cursor: pointer;
}

.userNotFound{
    /* height: 100%;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    /* border: 10px solid rgb(222, 222, 222); */
    background-color: rgba(93, 93, 93, 0.687);
    border-radius: 4px;
    margin-left: 2vw;
}

.userNotFound img{
    width: 6vw;
    border: none;
    opacity: 0.6;
}

.userUsername{
    font-size: 1.26vw;
    color: #c9c9c9;
}